* {
/*     font-family: "Dejavu Sans"; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #0b0c10;
}

img {
    display: block;
    height: auto;
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

body {
    margin: 18px 20%;
}

h1 {
    text-align: center;
}

div, p {
    border-color: #66fcf1;
    padding: 8px 16px 8px 8px;
    border-style: solid;
    border-radius: 0px 8px 48px;
    border-width: 1px;
}

p {
    padding: 16px;
}

h1, h2 {
    color: #66fcf1;
    background-color: #1f2833;
    padding: 12px;
    border-radius: 0px 8px 32px;
}
